# Pandas

Pandas é uma biblioteca *Python* fácil, poderosa, flexivél e fácil de usar. Ela é uma biblioteca para manipulação e análise de dados, permite ler, manipular, agregar e plotar dados. É a principal e mais completa biblioteca para análise de Dados, por isso se tornou a mais famosa e mais utilizada. Há diversos tipos de arquivos que são passíveis de serem lidos utilizando o Pandas. 

Algumas outras bibliotecas trabalham em conjunto com o pandas para poder refinar as análises, tais como:
* Seaborn
* NumPy
* Matplotib
* Scikit-Learn

Outra vantagem do Pandas é que a leitura dos dados podem ser apresentados como tabelas, o que para o ser humano é mais visualmente aceito. Com o Pandas é possível caregar, manipular o modelo, analisar dados, mesclar dados de diferentes bancos de dados, remodelar os dados. Tudo isso gira em torno de uma estrutura chamada *DataFrame*, que é basicamente um conjunto de colunas contendo dados. Os dados presentes podem ser de qualquer tipo (inteiro, objeto, string, float, bool, etc)

In [2]:
#Importar biblioteca pandas
import pandas as pd

In [4]:
df = pd.read_csv('/home/renata/Desktop/Cursos/Data-Science-na-Pratica/Datasets/BBAS3.SA.csv')

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
type(df['High'])

pandas.core.series.Series

In [7]:
#Ver o tamanh do dataframe (formato)
df.shape

(248, 7)

In [8]:
#Mostrar as 5 primeiras entradas do DataFrame
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-06,49.470001,49.669998,49.180000,49.369999,46.886795,6314800.0
1,2019-05-07,49.080002,49.680000,48.220001,49.490002,47.000763,10846100.0
2,2019-05-08,49.500000,50.840000,49.500000,50.590000,48.045422,14459600.0
3,2019-05-09,50.910000,51.259998,50.119999,51.029999,48.463291,15377500.0
4,2019-05-10,51.099998,51.189999,49.860001,50.160000,47.637051,8975300.0

In [9]:
#Mostrar as 5 últimas entradas do DataFrame
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
243,2020-04-27,25.500000,26.200001,25.110001,25.690001,25.690001,32132800.0
244,2020-04-28,27.219999,29.250000,27.110001,29.139999,29.139999,43232700.0
245,2020-04-29,30.040001,30.209999,28.730000,29.559999,29.559999,24628700.0
246,2020-04-30,28.309999,28.780001,27.850000,28.500000,28.500000,23935300.0
247,2020-05-04,27.370001,27.760000,26.990000,27.760000,27.760000,16586000.0

In [10]:
#Ver os nomes da colunas
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [11]:
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume       float64
dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       248 non-null    object
 1   Open       247 non-null    float64
 2   High       247 non-null    float64
 3   Low        247 non-null    float64
 4   Close      247 non-null    float64
 5   Adj Close  247 non-null    float64
 6   Volume     247 non-null    float64
dtypes: float64(6), object(1)
memory usage: 13.7+ KB

In [16]:
#Selecionar a variável (coluna) "High" da nossa variável df
df['High']

0      49.669998
1      49.680000
2      50.840000
3      51.259998
4      51.189999
         ...
243    26.200001
244    29.250000
245    30.209999
246    28.780001
247    27.760000
Name: High, Length: 248, dtype: float64

In [17]:
#Selecionar a variável (coluna) "High" de outra foma
df.High

0      49.669998
1      49.680000
2      50.840000
3      51.259998
4      51.189999
         ...
243    26.200001
244    29.250000
245    30.209999
246    28.780001
247    27.760000
Name: High, Length: 248, dtype: float64

In [18]:
#Calcular a média da coluna "High"
df.High.mean()

46.57639677327938

In [19]:
#Antes
df.Date

0      2019-05-06
1      2019-05-07
2      2019-05-08
3      2019-05-09
4      2019-05-10
          ...
243    2020-04-27
244    2020-04-28
245    2020-04-29
246    2020-04-30
247    2020-05-04
Name: Date, Length: 248, dtype: object

In [21]:
#Converter coluna Date em datetime
df.Date = pd.to_datetime(df.Date, format='%Y-%m-%d')

In [22]:
df.Date

0     2019-05-06
1     2019-05-07
2     2019-05-08
3     2019-05-09
4     2019-05-10
         ...
243   2020-04-27
244   2020-04-28
245   2020-04-29
246   2020-04-30
247   2020-05-04
Name: Date, Length: 248, dtype: datetime64[ns]

In [23]:
#Ano
df.Date.dt.year

0      2019
1      2019
2      2019
3      2019
4      2019
       ...
243    2020
244    2020
245    2020
246    2020
247    2020
Name: Date, Length: 248, dtype: int64

In [24]:
#Mês
df.Date.dt.month

0      5
1      5
2      5
3      5
4      5
      ..
243    4
244    4
245    4
246    4
247    5
Name: Date, Length: 248, dtype: int64

In [25]:
#Dia
df.Date.dt.day

0       6
1       7
2       8
3       9
4      10
       ..
243    27
244    28
245    29
246    30
247     4
Name: Date, Length: 248, dtype: int64

In [26]:
df.Date.dt.weekday

0      0
1      1
2      2
3      3
4      4
      ..
243    0
244    1
245    2
246    3
247    0
Name: Date, Length: 248, dtype: int64

In [27]:
df.Date.dt.weekofyear

0      19
1      19
2      19
3      19
4      19
       ..
243    18
244    18
245    18
246    18
247    19
Name: Date, Length: 248, dtype: int64